
.footer1{
    background-color: rgb(225, 251, 213);
}
.footer2{
    background-color: rgb(192, 254, 163);
    padding: 5px;
}
.ico{
    margin: 20px;
}
.st{
    margin-top: 40px;
    font-size: medium;
    font-weight: 600;
    color: rgb(2, 114, 38);
}